@model IEnumerable<AppTS.ViewModels.ChiTietNganh>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <style>
        .content_Nganh {
            text-align: justify;
            padding: 10px;
            font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300))) !important;
            margin-top: 65px;
        }

            .content_Nganh h5 {
                margin-bottom: 5px;
                font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300))) !important;
            }

        .content_Nganh__mota {
            margin-top: 30px;
        }

        .child_content {
            margin-bottom: 20px;
        }
        content_Nganh__all p
        {
           
        }
         .content_Nganh__all p:before {
            content: " * ";
            margin-right:10px
        }
        #header {
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
        }
    </style>
</head>
<body>
    <section id="header">
        <div class="header-logo" style="padding-left:10px">
            <a onclick="goBack()"><img src="~/Content/img/arrow_left.png" alt="" class="go_back" style="width:30px"></a>
        </div>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </section>
    <div class="content_Nganh">
        @foreach (var item in Model)
        {   <img src="@item.HINHANH_NGANH" width="100%" height="auto" />
            <img src="@item.HINHANH_CHUYENNGANH" width="100%" height="auto" />
            <div class="content_Nganh__mota child_content">
                @Html.Raw(@item.MOTA)
            </div>
            <div class="content_Nganh__all child_content">
                <h5>Mục tiêu đào tạo</h5>
                @Html.Raw(@item.MUCTIEU)
            </div>
            <div class="content_Nganh__all child_content">
                <h5>Điểm nổi bật của ngành</h5>
                @Html.Raw(@item.DIEMNOIBAT)
            </div>
            <div class="content_Nganh__all child_content">
                <h5>Cơ hội nghề nghiệp</h5>
                @Html.Raw(@item.COHOI)
            </div>




        }
    </div>
</body>
</html>
