@model IEnumerable<AppTS.ViewModels.TrungTuyen>
@{
    ViewBag.Title = "QuanLyXetTuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5>DANH SÁCH ĐĂNG KÝ XÉT TUYỂN</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã SV</th>
                        <th>Họ Tên</th>
                        <th>Địa chỉ</th>
                        <th>Trường cấp 3</th>
                        <th>Ngày đăng ký</th>
                        <th>SĐT</th>
                        <th>Email</th>
                        <th>Tên tổ hợp</th>
                        <th>Mã chuyên ngành</th>
                        <th>Môn 1</th>
                        <th>Môn 2</th>
                        <th>Môn 3</th>
                        <th>Trúng tuyển</th>
                    </tr>
                </thead>
                <tbody class="table_change" id="myTable">
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">
                            <td>@item.ID</td>
                            <td>@item.HOTEN</td>
                            <td>@item.DIACHI</td>
                            <td>@item.TRUONG</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", @item.NGAYDANGKY)</td>
                            <td>@item.SDT</td>
                            <td>@item.EMAIL</td>
                            <td>@item.TENTOHOP</td>
                            <td>@item.ID_CHUYENGANH</td>
                            <td>@item.MON1</td>
                            <td>@item.MON2</td>
                            <td>@item.MON3</td>
                            @if(@item.TRUNGTUYEN == true)
                            {
                            <td>Đạt</td>
                            }
                            else
                            {
                            <td>Không Đạt</td>
                            }
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


